@import "../../../styles/variables.scss";

main {
    padding: 3rem;

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin-bottom: 2rem;
        }

        .nav-table {
            
            ul {
                display: flex;
                gap: 3rem;
            }

            li {
                list-style-type: none;
            }
        }
    }

    
}