<main>
    <div class="nav">
        <h2>Hello!</h2>
        <mat-icon aria-hidden="false" aria-label="Logout icon" fontIcon="logout"></mat-icon>
    </div>
    <div class="tasks">
        <h1>Your tasks</h1>
        <div class="table">
            <div class="nav-table">
                <ul>
                    <li>Title</li>
                    <li>Description</li>
                    <li>Status</li>
                    <li>Expiration Date</li>
                </ul>
            </div>
        </div>
    </div>
</main>